# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# qt 特定文件
build-*/
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qm
*.prl

# Visual Studio 相关临时文件
.vs/
*.ipch
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
# 其他临时文件
*.tmp
*.log
